html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272b30;
    color: #D3D3D3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: Montserrat, "sans-serif";
}